@charset "EUC-KR";
* { 
	/* margin: 50px 200px; 상하 | 좌우 */
	margin: 50px 0 100px 300px; /* 시계방향  상 -> 우 -> 하 -> 좌 */
}

h2, h4 {
	width: 45%;
	border: 2px solid tomato;
	padding: 30px 60px;
}